

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* take full height */
}


/*TEST TEST TEST*/
main {
  flex: 1 0 auto;     
  max-width: 1600px;   
  min-width: 1600px;     
  margin: 0 auto;   
  box-sizing: border-box; 
}

/*TEST TEST TEST*/
#root {
  display: flex;  
  min-height: 100vh;
  padding: 0;
  margin: 0;
  flex-direction: column;  
}

/*TEST TEST TEST*/

.main-expanded {
  margin-left: 280px;
  width: calc(100% - 240px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/*TEST TEST TEST*/

.main-collapsed {
  margin-left: 185px;
  width: calc(100% - 60px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.video-collapsed {
  margin-left: -100px;
  width: calc(100% - 60px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}


footer {
  flex-shrink: 0; /* don’t let footer shrink */
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  padding: 1rem 0;
  text-align: center;
}

