.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* ocupa 80% da altura da tela */
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.centered-table {
  width: 90%;
  max-width: 1200px;
}

.table-videos td,
.table-videos th {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.video-description-list{
    background: rgb(255, 255, 255) !important;
    border-radius: 5px;
    font-size: 12px;
}