.perfil-container {
  display: flex;
  align-items: center;
  padding: 40px 35px;
  gap: 40px;
  border-bottom: 1.5px solid #ccc;
  background-color: #f9f9f9;
  max-width: 1900px; /* Limita a largura para deixar mais longo */
  margin: 0 auto;   /* Centraliza horizontalmente */
}

.perfil-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  border: 4px solid #ddd;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px; /* Aumenta a largura da coluna com texto */
}

.perfil-info h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  color: #222;
}

.perfil-info p {
  margin: 8px 0;
  color: #555;
}

.perfil-info p.description {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #666;
  max-width: 100%; /* Ocupa toda a largura do container */
  line-height: 1.5;
}

.perfil-info p.date {
  font-size: 1.1rem;
  color: #999;
  margin-top: 8px;
}

.editarperfil-btn {
  position: absolute;
  color:rgb(75, 75, 75);
  right: 20px;
  background: transparent;
  border: none;
  font-size: 48px;
  cursor: pointer;
}

.perfil-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start; 
  width: 100%;
}

.perfil-videos .video-card {
  width: 500px;
  border-radius: 8px;
  overflow: hidden;
  background: #f0f0f0;
  font-family: sans-serif;
}

.perfil-videos .video-header {
  display: flex;
  justify-content: space-between;
  background: #d0e3ff;
  padding: 8px 12px;
  font-weight: bold;
  align-items: center;
}

.perfil-videos .rating {
  color: #ffcc00;
  background-color: rgba(0, 0, 0, 0.3);
}

.perfil-videos .disciplina {
  font-weight: bold;
  font-size: 18px;
}

.perfil-videos .video-thumbnail {
  position: relative;
  background: #e0e0e0;
}

.perfil-videos .duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  color: white;
  padding: 4px 10px;
  padding-left: 80%;
  border-radius: 6px;
  font-size: 16px;
  text-align: right;
  white-space: nowrap;
}

.perfil-videos .video-info {
  padding: 10px;
  background-color: white;
}

.perfil-videos .video-info .title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.perfil-videos .video-info .title:hover {
  text-decoration: underline;
}

.perfil-videos .video-info .meta {
  font-size: 16px;
  color: gray;
  margin-top: 0px;
}

.video-thumbnail {
  cursor: pointer !important;
}

.perfil-container {
  padding-bottom: 20px;
}

.disciplinas-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left:30px;
  
}

.disciplina-list {
  padding: 5px 12px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: default;
  user-select: none;
  white-space: nowrap;
  margin-right: -25px; 
}

